header{
	background-color:#e6ffc3;
}
header h1{
	padding:0.4em;
	overflow: hidden;
	text-align:center;
}
header nav{
	background-color: #212529;
	color:white;
	border-bottom: 2px solid gray;
	scroll-behavior: 1;
}
body{
	background-color: #eaeee3;
}
.expansion-icon{
	display:inline-block;
	clip-path: path("m2, 5 l5,5 l5, -5");
	background-color:black;
	width: 1em;
	height:1em;
}
.collapse-icon{
	clip-path: path("m2, 10 l5,-5 l5, 5");
}