{% extends "base.html" %}
{% block title %}Productos disponibles{% endblock %}
{% block head %}{{ super() }}
	<style>
		body{
			background-color:#cfecc7;
		}
		main{
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			margin: 4%;
			background-color:white;
			padding: 1em;
  			overflow-y: hidden;
		}
		h1{
			text-align:center;
		}
		.item-products{
			min-width: 100px;
			min-height: 100px;
			display: inline-flex;
			margin-left:2em;
			margin-bottom:1em;
			padding:2%;
			/*width:200px;*/
		}
		* [data-visible=False]{
			display:none;
		}
		@media screen and (max-width: 431px) and (min-width: 380px){
			.item-products{
				width: 150px;
				margin-left:1em;
				padding:1em;
			}
		}
		@media screen and (max-width: 379px) and (min-width: 364px){
			.item-products{
				width: 150px;
				margin-left:0.5em;
				padding:1em;
			}
		}
		@media screen and (max-width: 363px) {
			.item-products{
				display: block;
				text-align: center;
			}
		}
	</style>{% endblock %}{#
#}	{% block bodyAttribute %}onload="get_products();"{% endblock %}
{% block header %}{{ super() }}{% endblock %}{#
#}{% block content %}
	<main class="container" style="z-index:0 !important;">
		<h1 class="justify-content-center">Productos disponibles:</h1>
		<div class="container"><a href="JavaScript:reset_all()">#Mostrar toda las categorías</a></div>
		<div id="init-loads" class="d-flex justify-content-center">
		  <div class="spinner-border" role="status">
		    <span class="sr-only">😊</span>
		  </div>
		</div>
		<div id="c-productos" class="container"><!--Generado por JavaScript--></div>
	</main>
	<script>
		const WIDTH_SCREEN=screen.availWidth;
		var actual=null;
		var types=[];
		var el_after=null;
		async function get_products(){
			console.log("Obteniendo productos...");
			const url="{{ rootPath }}productos.json";
			const reponse=await fetch(url);
			if (reponse.ok){
				console.log("Productos obtenidos...\nColocando Productos...");
				const data = await reponse.json();

				//Terminamos con la animacion de espera:
				let loads_anims=document.getElementById("init-loads");
				loads_anims.classList.add("d-none");
				append_products(data);
			}else{
				console.error(`No se ha podido cargar el recurso "${url}"-`);
			}
		}
		function append_products(datas){
			const c_products=document.getElementById("c-productos");
			const menu=document.getElementsByClassName("type-container");
			const ver_menu=menu[0];//Vertical menu
			const h_menu=menu[1];// Horizontal menu.

			//Vaciamos el ul.
			h_menu.innerHTML="<li onclick=\"reset_all()\" class=\"dropdown-item\"><button class=\"btn\">Toda las categorías</button></li>";
			//arrange-vertically or arrange-horizontaly
			for(let data of datas){
				let p_now=document.createElement("div");// Container products.
				const type_now=data[7].replace(/\s/g,'-');// Erase space character for class name.
				const id=data[1].replace(/\s/g,'-');

				p_now.classList.add("card","item-products",type_now);
				p_now.setAttribute("data",data[1]);
				data[3]=(data[3][0]=='/')?data[3].substring(1):data[3];
				p_now.innerHTML=`
				<img src="{{ rootPath }}${data[3]}" alt="${data[2]}" class="card-img-top" width="90px" height="130px"/>
				<div class="card-body">
					<h5 class="card-title">${data[1]}</h5>
					<p class="card-text">
						<b>Valor</b>: ${data[6]} Bs.ss</br>
						<b>Categoria</b>: 
						<a href="JavaScript:void(0)" onclick="filter_all(this.innerHTML.replace('#',''))" class="card-link">#${data[7]}</a></br>
						<div onclick="view_des('des-${id}',this);" style="cursor:pointer;">
							Descripción: <b class="expansion-icon"> </b>
							<hr/>
							<span id="des-${id}" class="d-none">${data[2]}</span>
						</div>
					</p>
				</div>`;
				c_products.appendChild(p_now);

				if (!types.includes(type_now)){
					let li_now=document.createElement("li");
					li_now.setAttribute("class","dropdown-item");
					let button=document.createElement("button");
					button.setAttribute("type","button");
					button.setAttribute("class","btn");
					button.innerHTML=data[7];
					li_now.addEventListener("click",()=>{
						filter_btn_click(button);
					});

					li_now.appendChild(button);
					h_menu.appendChild(li_now);
					types.push(type_now);
				}
			}
			ver_menu.innerHTML=h_menu.innerHTML;
		}
		
		function filter_btn_click(this_element){
			//Hacemos que se mantenga activo el elemento pulsado
			if (el_after){
				el_after.classList.remove("active");
			}
			this_element.classList.add("active");
			el_after=this_element;
			filter_all(this_element.innerHTML);
		}
		function filter_all(type){
			type=type.replace(/\s/g,'-');
			//Eliminamos todos los estilos anteriores.
			if(document.getElementById("style-"+type))
				delete_style();
			//Actualizamos la lista.
			create_style(type);
		}
		function create_style(r){
			for (let t of types){
				let this_style=document.createElement("style");
				//Si es el elemento que buscamos:
				this_style.innerHTML='.'+t+((r!=t)?"{display:none;}":"{display:inline-flex;}");
				this_style.setAttribute("id","style-"+t);
				document.head.appendChild(this_style);
			}
		}
		function delete_style(){
			for (let t of types){
				let this_style=document.getElementById("style-"+t);
				this_style.parentNode.removeChild(this_style);
			}
		}
		function reset_all(){
			//El anterior boton no se vea activo.
			if (el_after)
				el_after.classList.remove("active");
			//Si existen eliminamos antes de actualizar.
			if (document.getElementById("style-"+types[0]))
				delete_style();
			for (let t of types){
				let this_style=document.createElement("style");
				this_style.innerHTML='.'+t+"{display:inline-flex;}";
				this_style.setAttribute("id","style-"+t);
				document.head.appendChild(this_style);
			}
		}
		/**Muestra la descripción del producto deseado.*/
		function view_des(id_description,button_element){
			const des=document.getElementById(id_description);
			des.classList.toggle("d-none");
			
			const icon=button_element.childNodes[1];
			icon.classList.toggle("collapse-icon");
		}
	</script>{#
#}{% endblock %}